body {
	background-image: url("../image/D1028_49_409_1200.jpg");
	/* background-size: stack; */
	background-attachment: fixed;
	padding-bottom: 120px;
}

.hero {
	background-color: antiquewhite;
	text-align: center;
	font-family: 'IM Fell DW Pica SC', serif;
}

.title {
	font-size: 36px;
}

.imputContainer {
	background-color: antiquewhite;
	font-family: 'Courgette', cursive;
	text-align: center;
	margin-top: 65px;
	align-content: center;
}

.input {
	font-family: 'Courgette', cursive;
	width: 325px;
	height: 25px;
	font-size: 25px;
}

.is-expanded {
	align-content: center;
}
.Sbtn {
	font-family: 'Courgette', cursive;
	font-size: 35px;
	background-color: antiquewhite;
	/* outline: antiquewhite; */
	border: 2px, solid, black;
	background: none;
}

.Sbtn:hover{
	cursor: pointer;
}
.form-check {
	display: inline-block;
	padding-right: 10px;
}

.results {
	background-color: antiquewhite;
	font-family: 'Courgette', cursive;
	text-align: center;

	/* margin-top: 65px; */
	padding-top: 10px;
	padding-bottom:120px;
    font-size: 19px;

	margin-top: 65px;
	font-size: 19px;

}

#other {
	font-family: 'Courgette', cursive;
}

#result {
	color: white;
	/* margin-bottom: 40px; */
}

.card {
	display: inline-block;
}

.book {

	/* margin: auto; */
	margin: 0;
	background-color: antiquewhite;
	font-family: 'Courgette', cursive;
	text-align: center;
    /* margin-top: 65px; */
	font-size: 19px;
	color: black;
	/* padding-top: 20px; */
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.new{
	text-decoration: underline;
}

img{
	padding: 10px;
}

#intro{
	font-size: 28px;
	padding-right: 110px;
	padding-left: 110px;
	padding-top: 40px;
<<<<<<< HEAD
	padding-bottom: 5px;
	align-content: center;
}
=======
	padding-bottom: 30px;
}

	margin: auto;
}

.card{
	font-family: 'Courgette', cursive;
	font-size: 35px;
	background-color: antiquewhite;
	/* outline: antiquewhite; */
	border: none;
	background: none;
}

>>>>>>> a6efc2a2a93a08d15e09cadbd519a835ae58ce43
