body {
	background-image: url("../image/download.jpg");
	/* background-size: stack; */
	background-attachment: fixed;
}

.hero{
    background-color: antiquewhite;
    text-align: center;
    font-family: 'IM Fell DW Pica SC', serif;
}
.title{
    font-size: 36px;
}
.imputContainer{
    background-color: antiquewhite;
    font-family: 'Courgette', cursive;
    text-align: center;
    margin-top: 65px;
}

.Sbtn{
    font-family: 'Courgette', cursive;
}
.form-check{
    display: inline-block;
}

































